.ReportView {

    .graph-type-card {
        h4 {
            margin-left: 4px;
        }

        &:hover {
            h4 {
                color: white
            }

            svg {
                color: white
            }
        }
    }

    .active-card {
        background-color: rgb(15 23 42);

        h4 {
            color: white
        }

        svg {
            color: white
        }

    }
}