@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F6F6F6;
  color: #060606;
  font-family: 'Source Sans Pro', sans-serif;

}

.generic-card-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-shadow-light {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}